{% extends 'adminapp/base.html' %}

{% block content%}
<div class="users_list">
    <a class="btn btn-primary" style="color: white" href="{% url 'admin:user_create' %}">Добавить пользователя</a>
    {% for item in object_list %}
    <div class="user_record">
        <div class="user_avatar">
            <img src="media/{{item.avatar}}"/>
        </div>
        <div class="user_role">
            {% if item.is_superuser %}
            Администратор
            {% else %}
            Пользователь
            {% endif %}
            <a class="btn btn-info" href="{% url 'admin:user_update' item.pk %}">Изменить</a>
            <br><br>
            <a class="btn btn-info" href="{% url 'admin:user_delete' item.pk %}">Удалить</a>
        </div>
        <div class="user_name">
            <p>{{ item.username }}</p>
            <p>{{ item.get_full_name }}</p>
        </div>
        <div class="user_age"><p>{{item.age}}</p></div>
        <div class="user_email"><p>{{item.email}}</p></div>
    </div>
    {% endfor %}
</div>
{% endblock content%}